[Unit]
Description=%3 service. This service generated automaticly by Patronum libarary. See https://github.com/QuasarApp/Patronum

[Service]
Type=forking
User=root
Group=root
ExecStart=%0 d
ExecStop=%0 stop
PIDFile=%1
WorkingDirectory=%2

[Install]
WantedBy=multi-user.target
